<main>
    {{#if signedInUser}}
    <div id="user-signed-in" class="hidden">{{signedInUser.id}}</div>
    {{/if}}
    {{#each posts}}
    <div class="card clickable hover-raise" post_id="{{this.id}}">
        <div class="header inline seperate shaded elements-prod-horizontal-2">
            <div class="inline">
                <h2>{{this.title}}</h2>
                <div class="italics prod-right-2">by {{this.User.username}}</div>
            </div>
            <div>
                Posted {{format_date this.createdAt}}
            </div>
        </div>
        <div class="body">
            {{this.content}}
        </div>
        {{#ifComparison "===" this.User.id ../signedInUser.id}}
        <div class="footer">
            <button class="danger" comment_id="{{this.id}}">Delete</button>
        </div>
        {{/ifComparison}}
    </div>
    {{/each}}
</main>
<script src="./scripts/postLinks.js"></script>