<main>
    <div class="card clickable hover-raise" post_id="{{post.id}}">
        <div class="header inline seperate shaded elements-prod-horizontal-2">
            <div class="inline">
                <h2>{{post.title}}</h2>
                <div class="italics prod-right-2">by {{post.user.username}}</div>
            </div>
            <div>
                Posted {{format_date post.createdAt}}
            </div>
        </div>
        <div class="body">
            {{post.content}}
        </div>
    </div>
    <section class="box">
        <h2>Comments</h2>
        <hr>
        <div>
            {{#if post.comments}}
            {{#each post.comments}}
            <div class="card">
                <div class="header">
                    <h3>{{this.user.username}}</h3>
                    <div>{{format_date this.createdAt}}</div>
                </div>
                <div class="body">
                    {{this.content}}
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="container fill center">
                <h3>There are no comments on this post yet.</h3>
            </div>
            {{/if}}
        </div>
    </section>
</main>